<form action="">
    <!-- Keyword controls filtered products -->
    <input type="hidden" name="kw" value="{{ keyword }}">
    <div class="mt-3 items-center space-y-2 text-xs sm:space-y-0 sm:space-x-3 sm:flex justify-center font-main italic font-bold text-black">
        <!-- Show current page of total pages -->
        <span class="block">Trang {{ current_page }} / {{ total_pages }}</span>
        <!-- Control page direction -->
        <div class="space-x-1">
            <!-- Go to previous page -->
            <button type="submit" name="control" value="-1" {% if current_page == 1 %}disabled{% endif %} class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow hover:bg-secondary">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <!-- Set selected page -->
            <input type="number" name="current_page" value="{{ current_page }}" min="1" max="{{ total_pages }}" class="inline-block relative p-2 w-20 bg-gray-200 outline-none rounded-xl hover:ring-2 hover:ring-gray-500 text-center">
            <!-- Go to selected page -->
            <button type="submit" name="control" value="0" class="px-4 py-2 relative rounded-lg outline-none bg-gray-300 hover:ring-2 hover:ring-gray-500">Go</button>
            <!-- Go to next page -->
            <button type="submit" name="control" value="1" {% if current_page == total_pages %}disabled{% endif %} class="inline-flex items-center justify-center w-8 h-8 py-0 border rounded-md shadow hover:bg-secondary">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>
</form>