{% extends "base.html" %}
{% load static %}


{% block title %}Khôi phục mật khẩu{% endblock title %}

{% block content %}
<div class="log-form-control">
    <form action="" method="post" class="log-form">
        {% csrf_token %}
        <h1 class="mb-12 text-4xl text-center font-serif font-semibold">RESET PASSWORD</h1>

        <div class="my-7 space-y-7">
            <div class="log-input-group">
                <i class="fa-solid fa-lock log-input-icon"></i>
                <input type="password" name="password1" class="log-input-field" placeholder="New Password" required>
            </div>
    
            <div class="log-input-group">
                <i class="fa-solid fa-lock log-input-icon"></i>
                <input type="password" name="password2" class="log-input-field" placeholder="Confirm Password" required>
            </div>
        </div>

        <button type="submit" class="log-button">CONFIRM</button>
        
        <p class="mt-10 text-center text-sm italic">
            Go back to login? <a href="{% url 'signin' %}" class="hover:text-sky-300">Login</a>
        </p>
    </form>
</div>
{% endblock content %}