<!-- Form -->
<form action="{% url "change-password" %}" method="post" class="w-3/5 mx-4 py-3 flex flex-col gap-5">
    {% csrf_token %}
    <input type="hidden" name="choice" value={{ choice }}>

    <table class="border-separate border-spacing-4">
        <tr>
            <td class="text-right">Mật khẩu cũ: </td>
            <td><input type="password" name="password" class="border-2 rounded-md p-2 w-96" required></td>
        </tr>
        <tr>
            <td class="text-right">Mật khẩu mới: </td>
            <td><input type="password" name="password1" class="border-2 rounded-md p-2 w-96" required></td>
        </tr>
        <tr>
            <td class="text-right">Mật khẩu xác nhận: </td>
            <td><input type="password" name="password2" class="border-2 rounded-md p-2 w-96" required></td>
        </tr>
    </table>

    <button type="submit" class="w-1/4 mx-auto mt-5 p-2 rounded-lg bg-sky-300 text-white hover:shadow-lg">
        <i class="fa-solid fa-cloud-arrow-up"></i> Lưu
    </button>
</form>