{% extends 'base.html' %}

{% load static %}

{% block title %}
    Cart
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="flex px-[15px] justify-between items-center h-64 bg-blue-700">
        <a href="/" class="inline">
            <img class="h-[40px] w-[115px] rounded-md" src="{%static 'image/logo.png'%}" alt="Logo">
        </a>

        <div class="w-2/6">
            <form action="" class="w-full flex">
                <button class="btn-search w-[50px] bg-stone-900 border-solid border-2 border-slate-950 border-r-0 rounded-l-md px-[5px] py-[3px]">
                    <i class="fa-solid fa-magnifying-glass icon__search text-white"></i>
                </button>
                <input class="w-full border-solid border-2 border-slate-950 rounded-r-md outline-0 px-[5px] py-[3px]" type="text" placeholder="Nhap">
            </form>
        </div>

        <ul class="header-menu flex items-center text-white">
            <li class="mr-[15px] px-[5px]">
                <a href="" class="flex">
                    <span class="icon-check-cart text-white pr-[8px] text-[24px] mt-[12px]">
                        <i class="fa-solid fa-truck-fast"></i>
                    </span>
                    <span class="block w-[72px]">
                        Tra Cuu Don Hang
                    </span>
                </a>
            </li>

            <li class="mr-[15px] px-[5px]">
                <a href="/cart" class="flex">
                    <span class="icon-cart pr-[8px] text-[24px] mt-[12px]">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                    <span class="block w-[40px]">
                        Gio Hang
                    </span>
                </a>
            </li>

            <li class="px-[5px]">
                <a href="">
                    <span class="icon-login block text-center">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span>
                        Dang Nhap
                    </span>
                </a>
            </li>
        </ul>
    </header>
    <!-- End Header -->

    <!-- Section One -->
    <section class="no-cart hidden px-[15px] pb-[36px] bg-zinc-200">
        <div class="cart-back flex items-center text-blue-700 py-[10px]">
            <i class="fa-solid fa-chevron-left text-[14px] w-[14px]"></i>
            <a href="/">
                <p class="text-[18px]">    
                    Tiếp tục mua sắm
                </p>
            </a>
        </div>
        <div class="cart-empty mt-[32px] mb-[0p] mx-auto w-[600px] h-[352px] pt-[28px] pb-[15px] rounded-md bg-white">
            <div class="cart-empty-img">
                <img class="text-white w-[600px] h-[180px]" src="{%static 'image/no_cart.png'%}" alt="">
            </div>
            <div class="cart-empty-desc text-center">
                <p class="text-red-700 leading-7 text-[22px]">Chưa có sản phẩm nào trong giỏ hàng</p>
                <p class="leading-6 text-[18px] mt-[5px] mb-[25px]">Cùng mua sắm hàng ngàn sản phẩm tại FPTShop nhé!</p>
            </div>
            <div class="btn-buy flex">
                <a class="block w-[176px] h-[50px] mx-auto flex items-center justify-center bg-red-600 rounded-3xl" href="/">
                    Mua hang
                </a>
            </div>
        </div>
    </section>
    <!-- End Section One -->

    <!-- Section Two -->
    <section class="have-cart bg-zinc-200 px-[15px] py-[10px]">

        <div class="header-cart max-w-[600px] flex mx-auto">
            <div class="cart-go-back">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="cart-title mx-auto">
                <strong>Giỏ hàng của bạn</strong>
            </div>
        </div>

        <div class="select-all mt-[18px] mb-[10px] max-w-[600px] mx-auto flex items-end">
            <input class="w-[16px] h-[20px] rouded-full" type="checkbox" name="" id="">
            <h2 class="ml-[10px]">Chon tat ca</h2>
        </div>
        <div class="cart-list-item bg-white max-w-[600px] mx-auto rounded-md">
            <div class="block-item-outer px-[10px]">
                <div class="block-item py-[10px] flex items-start">
                    <div class="checkbox-product flex">
                        <input class="w-[16px] h-[20px]" type="checkbox" name="" id="">
                        <img  class="min-w-[81px] max-w-[81px] px-[25px] box-content" src="https://cdn2.cellphones.com.vn/358x,webp,q100/media/catalog/product/m/k/mkt_odin_product_lmage_fluoroelastomer_front_30_right_en_hq_png_800x800_20220403.png" alt="image-product">
                    </div>
                    <div class="product-info w-full">
                        <div class="flex justify-between items-start">
                            <a href="" class="block w-[70%] product-link">Đồng hồ thông minh Huawei Watch GT3 Pro -Đen</a>
                            <button class="remove">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                        <div class="flex justify-between items-end h-[31px]">
                            <div class="block-box-price">
                                <p>7.490.000đ</p>
                            </div>
                            <div class="action-desc-asc">
                                <span class="minus w-[30px] h-[30px]">-</span>
                                <input class="quality w-[36px]" type="text" readonly="readonly">
                                <span class="plus w-[30px] h-[30px]">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-total-price mt-[25px] max-w-[600px] mx-auto">
            <div class="price-buy flex justify-between items-start">
                <div class="price-temp">
                    <h2>Tam tinh</h2>
                    <p class="price">
                        gia tam
                    </p>
                </div>
                <div class="btn-buy bg-gray-500 rounded-md">
                    <button class="block h-[40px] px-[20px] py-[5px]">Mua ngay</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Two -->

    <!-- Footer -->
    <footer class="footer bg-gray-100 px-[15px] py-[25px]">
        <div class="social">
            <span>Kết nối với chúng tôi:</span>
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </footer>
    <!-- End Footer -->
    <script type="module" src="{%static 'js/cart.js'%}">
    </script>
{% endblock %}

