{% extends 'base.html' %}

{% load static %}

{% block title %}
    Don Hang
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
{% endblock %}

{% block content %}
     <!-- Header -->
     <header class="flex px-[15px] justify-between items-center h-64 bg-blue-700">
        <a href="/" class="inline">
            <img class="h-[40px] w-[115px] rounded-md" src="{%static 'image/logo.png'%}" alt="Logo">
        </a>

        <div class="w-2/6">
            <form action="" class="w-full flex">
                <button class="btn-search w-[50px] bg-stone-900 border-solid border-2 border-slate-950 border-r-0 rounded-l-md px-[5px] py-[3px]">
                    <i class="fa-solid fa-magnifying-glass icon__search text-white"></i>
                </button>
                <input class="w-full border-solid border-2 border-slate-950 rounded-r-md outline-0 px-[5px] py-[3px]" type="text" placeholder="Nhap">
            </form>
        </div>

        <ul class="header-menu flex items-center text-white">
            <li class="mr-[15px] px-[5px]">
                <a href="" class="flex">
                    <span class="icon-check-cart text-white pr-[8px] text-[24px] mt-[12px]">
                        <i class="fa-solid fa-truck-fast"></i>
                    </span>
                    <span class="block w-[72px]">
                        Tra Cuu Don Hang
                    </span>
                </a>
            </li>

            <li class="mr-[15px] px-[5px]">
                <a href="/cart" class="flex">
                    <span class="icon-cart pr-[8px] text-[24px] mt-[12px]">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                    <span class="block w-[40px]">
                        Gio Hang
                    </span>
                </a>
            </li>

            <li class="px-[5px]">
                <a href="" id="" class="">
                    <span class="icon-login block text-center">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span>
                        Dang Nhap
                    </span>
                </a>

                <div class="login-info-block relative">

                    <div id="login-name-block" class="cursor-pointer hidden">
                        <span class="icon-login block text-center">
                            <i class="fa-regular fa-user"></i>
                        </span>
                        <p>Doan Trung Kien</p>
                    </div>

                    <div id="sub-menu-login-block" 
                    class="hidden absolute w-[160px] top-[56px] right-0 px-[10px] py-[5px] bg-white text-black before:content-[''] before:absolute before:border-[11px] before:border-t-transparent before:border-r-transparent before:border-b-white before:border-l-transparent before:top-[-20px] before:right-[46px]">
                        <ul>
                            <li>Thong Tin Ca Nhan</li>
                            <li>
                                <a href="">
                                    Hoa Don Cua Toi
                                </a> 
                            </li>
                            <li>Dang Xuat</li>
                        </ul>
                    </div>

                </div>
            </li>
        </ul>
    </header>
    <!-- End Header -->

    <section class="wrap-all bg-zinc-200 h-[100vh] px-[15px] py-[25px]">

        <div class="inner-wrap w-[70%] mx-auto bg-white px-[15px] py-[5px] rounded-md">
            <table class="w-full text-left">
                <thead class="border-b-[1px] border-solid border-gray-950">
                    <tr class="">
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Giảm giá</th>
                        <th class="text-right">Tạm tính</th>
                    </tr>
                </thead>  
                <tbody>
                    <tr class="border-t-[5px] border-white align-top">
                        <td>
                            <img class="w-[81px] align-top h-[81px] float-left rounded border-[1px] border-gray-500" src="{%static 'image/HP_Pavilion_Aero_13-be2098AU.png'%}" alt="product-img">
                            <p class="product-name float-left ml-[10px]"><strong>HP_Pavilion_Aero_13-be2098AU</strong></p>
                        </td>
                        <td class="">
                            19.999.9999đ
                        </td>
                        <td class="">
                            1
                        </td>
                        <td class="">
                            0
                        </td>
                        <td class="text-right">
                            19.999.9999đ
                        </td>
                    </tr>
                    <tr class="border-t-[5px] border-white align-top">
                        <td>
                            <img class="w-[81px] align-top h-[81px] float-left rounded border-[1px] border-gray-500" src="{%static 'image/HP_Pavilion_Aero_13-be2098AU.png'%}" alt="product-img">
                            <p class="product-name float-left ml-[10px]"><strong>HP_Pavilion_Aero_13-be2098AU</strong></p>
                        </td>
                        <td class="">
                            19.999.9999đ
                        </td>
                        <td class="">
                            1
                        </td>
                        <td class="">
                            0
                        </td>
                        <td class="text-right ">
                            19.999.9999đ
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="total-price mt-[10px] py-[10px] flex justify-end border-t-[1px] border-solid border-gray-950">
                <div class="label w-[148px]">
                    <p class="py-[5px]">Tạm tính</p>
                    <p class="py-[5px]">Phí vận chuyển</p>
                    <p class="py-[5px]">Tổng cộng</p>
                </div>
                <div class="price">
                    <p class="py-[5px]">99.000đ</p>
                    <p class="py-[5px]">0đ</p>
                    <p class="text-red-500 py-[5px]"> <strong>99.000đ</strong></p>
                </div>
            </div>
        </div>

        <div class="btn inner-wrap w-[70%] mx-auto mt-[15px] text-blue-700">
            <a href="/order" class="">
                <i class="fa-solid fa-angles-left"></i>
                Quay lại đơn hàng của tôi
            </a>

            <button class="inline-block ml-[10px] bg-yellow-500 px-[33px] py-[3px] rounded-md text-black">
                <strong>Theo dõi đơn hàng</strong>    
            </button>
        </div>

    </section>

{% endblock %}