<div id="chatboxBtn" class="fixed right-5 bottom-5 z-10 bg-transparent cursor-pointer">
    <i class="fa-brands fa-rocketchat text-5xl"></i>
</div>
<div id="chatbox" class="max-w-[350px] h-[410px] p-3 bg-white border border-gray-300 rounded-lg shadow-md fixed z-10 right-5 bottom-5 font-main space-y-2 hidden">
    <!-- Close -->
    <p class="flex justify-between items-center">
        <span class="font-bold"><i class="fa-solid fa-robot"></i> ChatBot</span>
        <button id="chatboxClose" class="block ml-auto text-red-500 text-xl">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </p>
    <!-- Chat Frame -->
    <div id="chat-messages" class="max-w-[350px] h-[300px] overflow-y-scroll border border-gray-300 rounded-md p-3 text-sm">
        <div class="max-w-[350px] flex flex-row mb-2">
            <div class="max-w-[350px] bg-gray-300 rounded-xl p-2 break-words">Tôi có thể giúp gì cho bạn!</div>
        </div>
    </div>
    <!-- Type & Send -->
    <div class="flex gap-4 text-sm">
        <input type="text" id="user-message" class="flex-grow px-5 py-2 outline-none rounded-full bg-gray-100 placeholder:italic placeholder:text-xs" placeholder="Viết tin nhắn..." />
        <button id="send-button" class="w-auto px-5 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-400">
            Gửi
        </button>
    </div>
</div>